{% extends 'library_db/library_db_layout.html' %}
{% block librarycontent %}
    <h1>Admin Login</h1>
    <form class="sit-form" action="{% url 'library_db:library_admin_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <p>{{ error_message }}</p>
{% endblock %}